* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    margin: 3rem auto;
}
.button {
    cursor: pointer;
}
.border {
    background-color: white;
    padding: 1rem;
    border: solid 2px black;
    border-radius: 50%;

}
.display {
    margin: 3rem auto;
    width: 50%;
    height: 4rem;
    font-size: 1rem;
    background-color: beige;
    color: black;
    border: dotted 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.active-selection{
    background-color: burlywood;
}